We have built our dataset successfully. There are still some cells that still contains JSON responses. In this notebook, we will transform our dataset to be able to explore it correctly.

## Imports

In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.append('../source/')

import helpers

## Pre-transformation

Here we retrieve the dataset exported in the previous notebook.

In [2]:
movies_df = pd.read_csv("../data/processed/dataset_builder/movies_list.csv", sep=',', index_col=0)

/usr/local/Cellar/ipython/7.8.0/libexec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,19,20,21,22,23,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

We exported our dataset with movies duplicated. We here remove the duplicates and reset the index.

In [3]:
movies_df = movies_df[~movies_df.index.duplicated()]

In [4]:
movies_df.reset_index(inplace=True)

As we can see,`genre`, `production_companies`, `production_countries`, `spoken_languages`, `cast` and `crew` columns still contain JSON format. The purpose of this notebook is not to detect NaNs or outliers but to pre-transform our dataset to get a more accurate dataset possible for the next steps.

For `genres`, `production_companies`, `production_countries` and `spoken_languages` we coded a helper to retrieve only the id wanted from the json, passing the regex expression. We will do the same for `cast` and `crew` but we first need to split into two from `Credits` one.

### Genres

In [5]:
movies_df.genres

0         [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
1                            [{'id': 27, 'name': 'Horror'}]
2                            [{'id': 28, 'name': 'Action'}]
3                                                        []
4                             [{'id': 18, 'name': 'Drama'}]
                                ...
251019                  [{'id': 99, 'name': 'Documentary'}]
251020    [{'id': 36, 'name': 'History'}, {'id': 10752, ...
251021                  [{'id': 99, 'name': 'Documentary'}]
251022    [{'id': 99, 'name': 'Documentary'}, {'id': 18,...
251023                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, Length: 251024, dtype: object

In [6]:
helpers.from_json_to_array(movies_df, "genres", "name': '([^,]+)'}")

In [7]:
movies_df.genres

0         [Crime, Mystery, Drama, Thriller, Horror]
1                                          [Horror]
2                                          [Action]
3                                                []
4                                           [Drama]
                            ...
251019                                [Documentary]
251020                               [History, War]
251021                                [Documentary]
251022                         [Documentary, Drama]
251023                                     [Comedy]
Name: genres, Length: 251024, dtype: object

### Production Companies

In [8]:
movies_df.production_companies

0         [{'id': 82343, 'logo_path': None, 'name': 'Pel...
1         [{'id': 43628, 'logo_path': None, 'name': 'LaL...
2                                                        []
3                                                        []
4         [{'id': 37786, 'logo_path': None, 'name': 'Fig...
                                ...
251019                                                   []
251020                                                   []
251021                                                   []
251022                                                   []
251023    [{'id': 90562, 'logo_path': '/qII3jJQ4S32FgJRl...
Name: production_companies, Length: 251024, dtype: object

In [9]:
helpers.from_json_to_array(movies_df, "production_companies", "id': ([^,]+)")

In [10]:
movies_df.production_companies

0                                 [82343]
1                                 [43628]
2                                      []
3                                      []
4                    [37786, 37787, 1660]
                       ...
251019                                 []
251020                                 []
251021                                 []
251022                                 []
251023    [90562, 8906, 7981, 356, 11773]
Name: production_companies, Length: 251024, dtype: object

### Production Countries

In [11]:
movies_df.production_countries

0         [{'iso_3166_1': 'MX', 'name': 'Mexico'}, {'iso...
1         [{'iso_3166_1': 'US', 'name': 'United States o...
2         [{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...
3                                                        []
4         [{'iso_3166_1': 'MX', 'name': 'Mexico'}, {'iso...
                                ...
251019             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
251020              [{'iso_3166_1': 'CN', 'name': 'China'}]
251021             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
251022                                                   []
251023             [{'iso_3166_1': 'FR', 'name': 'France'}]
Name: production_countries, Length: 251024, dtype: object

In [12]:
helpers.from_json_to_array(movies_df, "production_countries", "iso_3166_1': '([^,]+)'")

In [13]:
movies_df.production_countries

0         [MX, ES]
1             [US]
2         [CN, HK]
3               []
4         [MX, ES]
            ...
251019        [RU]
251020        [CN]
251021        [RU]
251022          []
251023        [FR]
Name: production_countries, Length: 251024, dtype: object

### Spoken Languages

In [14]:
movies_df.spoken_languages

0                  [{'iso_639_1': 'es', 'name': 'Español'}]
1                  [{'iso_639_1': 'en', 'name': 'English'}]
2         [{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...
3                                                        []
4                  [{'iso_639_1': 'es', 'name': 'Español'}]
                                ...
251019             [{'iso_639_1': 'ru', 'name': 'Pусский'}]
251020                 [{'iso_639_1': 'zh', 'name': '普通话'}]
251021             [{'iso_639_1': 'ru', 'name': 'Pусский'}]
251022             [{'iso_639_1': 'es', 'name': 'Español'}]
251023            [{'iso_639_1': 'fr', 'name': 'Français'}]
Name: spoken_languages, Length: 251024, dtype: object

In [15]:
helpers.from_json_to_array(movies_df, "spoken_languages", "iso_639_1': '([^,]+)'")

In [16]:
movies_df.spoken_languages

0             [es]
1             [en]
2         [cn, zh]
3               []
4             [es]
            ...
251019        [ru]
251020        [zh]
251021        [ru]
251022        [es]
251023        [fr]
Name: spoken_languages, Length: 251024, dtype: object

### Credits

To pre-transform the credits column, we will first split it into two new columns. `Crew` and `Cast`.

In [17]:
helpers.split_credits_column(movies_df)

#### Cast

In [18]:
helpers.from_json_to_array(movies_df, "cast", "'id': ([^,]+)")

#### Crew

In [19]:
helpers.from_json_to_array(movies_df, "crew", "'id': ([^,]+)")

In [20]:
movies_df.head()

,index,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,status,tagline,title,video,vote_average,vote_count,status_code,status_message,cast,crew
0,0,False,NaN,NaN,0,"[Crime, Mystery, Drama, Thriller, Horror]",NaN,421114.0,tt0080495,es,...,Released,NaN,La capilla ardiente,False,3.0,3.0,NaN,NaN,"[266603, 19447, 1178853, 1686031, 1489266]","[30823, 50542, 100897, 100897, 1489713]"
1,1,False,NaN,NaN,840000,[Horror],NaN,91817.0,tt0082367,en,...,Released,Alexandria High… class of '81 - All the studen...,Fear No Evil,False,4.4,14.0,NaN,NaN,"[158489, 1219410, 995591, 104060, 1577541, 126...","[11470, 19172, 106667, 137193, 583023, 583023,..."
2,2,False,NaN,"{'id': 184977, 'name': 'Shaolin Temple Collect...",0,[Action],NaN,10275.0,tt0079891,cn,...,Released,NaN,The Shaolin Temple,False,7.1,53.0,NaN,NaN,"[1336, 1059241, 64707, 1342843, 1342844, 13428...","[64690, 64688, 64687, 64689, 64692, 64693, 646..."
3,3,False,NaN,NaN,0,[],NaN,270810.0,tt0080311,en,...,Released,NaN,...Maybe This Time,False,0.0,0.0,NaN,NaN,"[58063, 23, 1321846, 1203483, 94807, 217028, 1...","[97327, 166750, 1311627]"
4,4,False,/fpB6mNdhTG8vX3vjPLHGO6lKbiF.jpg,NaN,0,[Drama],NaN,301845.0,tt0082047,es,...,Released,NaN,Barcelona sur,False,5.0,2.0,NaN,NaN,"[1062327, 974896, 1383246, 144268, 1380767, 31...","[37540, 542246, 1057601, 1057601, 1086384, 110..."

We pre-transformed our data successfully! Please, go to the next notebook called `2.2.People_Pre_Transformation.ipynb` to create our People dataset and be able to encode our `Cast` column.

In [21]:
movies_df.to_csv("../data/processed/transformation/movies_transformed_list.csv")